/cmake-build-*/
/.idea/
/build/
/install/
skins/*.wsz
skins/hpcalc_hp49g/
src/cassette/res
removeme
/*.svg
*.out
*.prof
*.pprof
libs/libEGL.so
libs/libGLESv2.so
libs/libMali_linux.so
*.otf
skins/**
src/Version.h
LICENSE_3rdparty
core..*
hdumpstate*
release/
*.swp
settings.txt
ignoreme/
product_info
libMali*
ss/*
*.tbl
*.dat
