on post-fs-data
    insmod /system/lib/modules/radio-si4708icx.ko

on boot
  start pstserver
  start wampy

service wampy /bin/logwrapper /system/vendor/unknown321/bin/wampy
  user root
  group root
  oneshot

service pstserver /bin/logwrapper /system/vendor/unknown321/bin/pstserver 8
  user root
  group root
  oneshot
